# project credentials
.env
gapi-*.json

# python
*.pyc
__pycache__/
.venv/

# database
*.db
vector_db*

# node.js
node_modules/

# data
*.pdf
DATA/
my_model/
my_local_model/
quantized_model/
**/audio/*
conversation.txt
chroma_db
model_outputs/
generated.png
uploads/*

# logging
*.log

# temp working directory
TEMP/
