# project credentials
.env
gapi-*.json

# python
*.pyc

# database
*.db
vector_db*

# data
*.pdf
DATA/
models/
my_model/
my_local_model/
quantized_model/
**/audio/*
conversation.txt
chroma_db
model_outputs/
generated.png
